{{#if before}}
  {{#if fieldObj.hasError}}
    {{yield}}
  {{/if}}
{{/if}}

<select id="{{_id}}">
  <option value="{{defaultChoice}}" selected="selected">{{defaultChoice}}</option>
  {{#each remainingChoices as |choice|}}
    <option value="{{choice}}">{{choice}}</option>
  {{/each}}
</select>

{{#if after}}
  {{#if fieldObj.hasError}}
    {{yield}}
  {{/if}}
{{/if}}
