{{#if before}}
  {{#if fieldObj.hasError}}
    {{yield}}
  {{/if}}
{{/if}}

<select id="{{_id}}" class="{{_class}}">
  {{#if placeholder}}
    <option id="validated-select-placeholder" disabled selected>{{placeholder}}</option>
  {{else}}
    <option value="{{defaultChoice}}" selected="selected">{{defaultChoice}}</option>
  {{/if}}
  {{#each remainingChoices as |choice|}}
    <option value="{{choice}}">{{choice}}</option>
  {{/each}}
</select>

{{#if after}}
  {{#if fieldObj.hasError}}
    {{yield}}
  {{/if}}
{{/if}}
